.auth-container {
  background: #fff;
  border-radius: 20px;
  width: 850px;
  max-width: 95%;
  min-height: 500px;
  margin: 50px auto;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.6s ease;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.auth-container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.auth-container.right-panel-active .sign-in-container {
  transform: translateX(100%);
  opacity: 0;
}

.form {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 60px;
  height: 100%;
  justify-content: center;
}

.form input {
  background: #eef3ff;
  border: none;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  width: 100%;
}

.name-row {
  display: flex;
  gap: 10px;
}

button {
  margin-top: 15px;
  padding: 12px;
  border: none;
  background: #ff5722;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

/* SLIDING PANEL */
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.auth-container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  color: white;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.auth-container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  text-align: center;
  width: 50%;
  height: 100%;
}

.overlay-left {
  transform: translateX(-20%);
  left: 0;
}

.overlay-right {
  right: 0;
  transform: translateX(20%);
}

/* Ghost button */
button.ghost {
  background: transparent;
  border: 2px solid #fff;
}

/* Mobile fix */
@media (max-width: 768px) {
  .auth-container {
    transform: scale(0.9);
  }
}
